* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Menubar Design*/

nav {
    background-color: darkgoldenrod;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

nav #logo {
    text-align: center;
    padding: 7px 8px;
    color: black;
    font-size: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

nav a {
    padding: 14px 16px;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    font-size: 20px;
    color: white;
}

nav a:hover {
    transition: 0.5s;
    color: black;
    text-decoration: none;
}

nav #prof ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

nav #prof li i {
    cursor: pointer;
}

nav #prof a {
    padding: 14px 16px;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    font-size: 20px;
}

nav #prof .pro {
    padding: 14px 16px;
    font-size: 20px;
}

#side-menu {
    background-color: #3498db;
    width: 200px;
    border: 1px solid seagreen;
    position: absolute;
    right: 0;
    display: none;
}

#side-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#side-menu ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 14px 16px;
}

#side-menu a {
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    font-size: 20px;
    color: white;
}

#side-menu li:hover {
    background-color: rgb(216, 140, 226);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}


/* Add data */

#add-data {
    background-color: darkslategray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    height: 400px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-data .label {
    color: rgb(13, 184, 206);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: end;
}

#add-data input[type='text'],
input[type='number'],
select {
    border: 2px solid rgb(51, 153, 76);
    border-radius: 4px;
    width: 200px;
    height: 40px;
    padding: 6px 10px;
}

#add-data input[type='text']:focus,
input[type='number']:focus,
select:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#add-data #add-subm {
    width: 100px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


/* Category Add */

#add-catg {
    background-color: darkslategray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    height: 400px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-catg tr,
.lab {
    color: rgb(13, 184, 206);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 5px;
}

#add-catg input[type='text'] {
    border: 2px solid rgb(51, 153, 76);
    border-radius: 4px;
    width: 200px;
    height: 40px;
    padding: 6px 10px;
}

#add-catg input[type='text']:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#catg-btn {
    text-align: center;
    margin-top: 10px;
}

.text-danger {
    color: red;
    font-size: 15px;
    text-align: center;
}


/* Table Design */

#div-tab {
    margin-top: 10px;
}

#show-btn {
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 40px;
}

#search-btn {
    height: 40px;
}

#show-catg {
    height: 40px;
}

#show-icon {
    margin-left: 5px;
    cursor: pointer;
}

#show-icon:hover {
    color: darkseagreen;
}

#tab1 {
    border-collapse: collapse;
    width: 100%;
}

#tab1 th,
#tab1 td {
    border: 1px solid #ddd;
    padding: 8px;
}

#tab1 tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tab1 tr:hover {
    background-color: #ddd;
}

#tab1 th {
    background-color: #2ecc71;
    padding: 12px 12px;
}

.btn-danger {
    margin-left: px;
}

.btn-primary {
    width: 70px;
}

.data_edit:hover {
    text-decoration: none;
}


/* Edit Form */

#edit-form {
    width: 500px;
    height: 500px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkseagreen;
}

#edit-form tr,
.label {
    color: rgb(155, 59, 233);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 5px;
}

#edit-form th,
.label {
    align-items: center;
    margin: 8px;
}

#edit-form select,
.inp input[type='text'],
input[type='number'] {
    border: 2px solid rgb(51, 153, 76);
    border-radius: 4px;
    width: 200px;
    height: 40px;
    padding: 6px 10px;
}

#edit-form input[type='text']:focus,
input[type='number']:focus,
select:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#edit-btn {
    text-align: center;
    margin-top: 10px;
}


/* Login page */

#div_login {
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

#div_login input[type="text"],
#div_login input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 0px auto;
    text-align: center;
    border: 2px solid#3498db;
    padding: 12px 16px;
    width: 300px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: .25s;
    height: 45px;
}

#div_login input[type="text"]:focus,
#div_login input[type="password"]:focus {
    width: 380px;
    border-color: #2ecc71;
    font-size: 18px;
}

#log-btn {
    margin-top: 15px;
}

#forgot-pass a {
    margin-top: 5px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}


/*Registration*/

#reg-header {
    color: #2ecc71;
    text-align: center;
}

#reg-subm {
    width: 200px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

#reg-log {
    margin-top: 20px;
}

#reg-log a {
    text-decoration: none;
}

.text-muted ul {
    margin-left: 30px;
}


/* Profile */

#pro-dashboard {
    width: 800px;
    height: 600px;
    margin: 0px auto;
    margin-top: 100px;
    position: relative;
    border: 1px solid darkgray;
}

#pro-header {
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: #2ecc71;
}

#pro-img {
    width: 150px;
    height: 150px;
    border: 2px solid goldenrod;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#pro-info {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pro-info th {
    display: flex;
    justify-content: end;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    nav {
        background-color: #3498db;
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li.items {
        text-align: center;
        width: 100%;
    }
    #tab1 {
        width: 100%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}