{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'style/main.css' %}" type="text/css"> {% block style %}{% endblock %}
</head>

<body>
    <nav>
        <div id="logo">
            <h1>Daily Activities</h1>
        </div>

        <ul>
            <li class="items">
                <a href="{% url 'main' %}"> <i class="fas fa-home"></i> home</a>
            </li>
            <li class="items"> <a href="{% url 'about' %}"><i class="fas fa-add"></i> About</a> </li>
            <li class="items">
                <a id="ad" href="{% url 'add' %}"><i class="fas fa-plus-circle"></i> Add</a>
            </li>
            <li class="items"> <a href="{% url 'data' %}"><i class="fas fa-eye"></i> show</a></li>
            <li class="items"> <a href=""><i class="fas fa-phone-square-alt"></i> contact</a> </li>
        </ul>

        <div id="prof">
            <ul>
                {% if user.is_authenticated %}
                <li class="pro">Hello {{user.username}}</li>
                <li class="pro"><i id="icon" class="far fa-user-circle "></i></li>{% else %}
                <li> <a href="{% url 'register'%}">sign up</a> </li>
                <li> <a href="{% url 'login' %}">login</a> </li>{% endif %}
            </ul>
        </div>
    </nav>
    <div id="side-menu">

        <ul>
            <li><a href="">profile</a></li>
            <li><a href="">setting</a></li>
            <li><a href="{% url 'logout' %}">logout</a></li>
        </ul>

    </div>

    {% block content %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://kit.fontawesome.com/bf12ee2437.js" crossorigin="anonymous"></script>
</body>

</html>