{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style/main.css' %}" type="text/css">
</head>

<body>
    <div id="menu">
        <ul>
            <li> <a href="{% url 'main' %}">home</a> </li>
            <li> <a href="{% url 'about' %}">About</a> </li>
            <li> <a href="{% url 'add' %}">Add</a> </li>
            <li> <a href="{% url 'show' %}">show</a>
                <ul>
                    {% for catg in catgs %}
                    <li>
                        <a href="{% url 'data' catg.id %}">{{catg.category}}</a>
                    </li>{% endfor %}
                </ul>
            </li>
            <li> <a href="">contact</a> </li>{% if user.is_authenticated %}
            <li class="con"> <a href="{% url 'logout' %}">logout</a> </li>{% else %}
            <li class="con"> <a href="{% url 'register'%}">sign up</a> </li>
            <li class="con"> <a href="{% url 'login' %}">login</a> </li>{% endif %}
        </ul>

    </div>

    {% block content %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>