{% extends 'base.html' %}{% block title %}Add Category{% endblock %}{% block content %}

<div id="add-catg">

    <form action=" " method="POST">
        {% csrf_token %}
        <table>
            {% for field in category %}
            <tr>
                <th class="lab">{{field.label_tag}}</th>
                <td>{{field}}</td>
            </tr>

            {% endfor %}
        </table>{% if error %}
        <p class="text-danger">{{error}}</p>
        {% endif %}
        <div id="catg-btn"><input type="submit" class="btn btn-primary" value="Submit">
            <a style="margin-left: 10px;" class="btn btn-secondary" href="{% url 'add' %}">Cansel</a>
        </div>


    </form>
</div>
{% endblock %}