{% extends 'base.html' %}{% load static %}{% load crispy_forms_tags %}{% block title %}Edit Profile{% endblock %}{% block content %}
<div class="pro-dashboard">
    <div class="pro-header"></div>
    <div class="pro-img">
        <img src="{{user.profile.image.url }}" alt="image" width="50%" height="50%">

    </div>
    <div class="but-div">
        <a href="{% url 'profile' %}">About me</a>
        <a href="{% url 'edit-profile' %}">Edit Profile</a>
        <a href="{% url 'password' %}">Change password</a>
    </div>
    {% if messages %} {% for message in messages %}
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">X</button> {{message}}
    </div>

    {% endfor %} {% endif %}
    <div class="pro-edtform">
        <form action="" method="POST">
            {% csrf_token %}{{form|crispy}}
            <input style="width:100px;margin:5px auto;position:absolute" type="submit" class="btn alert-primary" value="Save">
        </form>
    </div>

</div>

{% endblock %}