{% extends 'base.html' %} {% block title %}Expenses{% endblock %}{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <label for="categ">Select Category: </label>
    <select name="categ" id="">
        <option value="">All</option>
        {% for catg in catgs %}
        <option value="{{catg.category}}" {% if catg.category == cat %} selected {% endif %}>{{catg.category}}</option>
        {% endfor %}
    </select>
    <input type="submit" name='' value="Submit">
</form>

<table id="tab1">
    <caption style="font-size: 20px; margin-bottom:5px;">This my Expenses</caption>
    <thead>
        <tr>
            <th>No</th>
            <th>Date/Time</th>
            <th>Category</th>
            <th>Purpose</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>

    </thead>
    <tbody>
        {% for exp in exps %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{exp.date}}</td>
            <td>{{exp.category}}</td>
            <td>{{exp.purpose}}</td>
            <td style="text-align: center;">{{exp.amount}}</td>
            <td><a href="{% url 'edit' exp.id %}" class="data_edit">Edit</a>
                <a href="{% url 'delete' exp.id %}" class="data_del">Delete</a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4" style="text-align: center;font-size:large">Total Expenses </td>
            <td style="font-weight: bold;text-align:center">{{total_exps.amount__sum}}</td>
            <td></td>
        </tr>
    </tbody>
</table>{% endblock %}