{% extends 'base.html' %} {% block title %}Expenses{% endblock %} {% block style %}
<style>
    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }
    
    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }
    
    table tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
    }
    
    table th,
    table td {
        padding: .625em;
        text-align: center;
    }
    
    table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
    
    .table td,
    .table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 0px solid #DEE2E7;
    }
    
    .card:hover {
        background-color: rgb(113, 223, 204);
        transition: .5s;
        transform: scale(1.03);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    }
    
    a:hover {
        color: black;
    }
    
    .card-deck {
        white-space: nowrap;
    }
    
    @media screen and (max-width: 600px) {
        table {
            border: 0;
        }
        table caption {
            font-size: 1.3em;
        }
        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }
        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }
        table td::before {
            /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }
        table td:last-child {
            border-bottom: 0;
        }
    }
    
    .form-control {
        width: 65%;
        margin-right: 5px;
    }
</style>
{% endblock %} {% block content %} {% if value == 'show_data' %}
<div class="container">
    <div style="height:50px; margin:10px;">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">
            <button type="button" class="close" data-dismiss="alert">X</button> {{message}}
        </div>
        {% endfor %} {% endif %}
    </div>
    {% if title_name.active == True %}
    <div style="margin-top:10px;">
        <h3 class="text-center">{{title_name}}
            <hr>
        </h3>

        <div style="margin-bottom: 15px;">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search" id="searchField">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        {% if exps %}

        <table class="table table-hover">
            <thead class="thead">
                <tr class="bg-info">
                    <th scope="col">No</th>
                    <th scope="col">Date/Time</th>
                    <th scope="col">Category</th>
                    <th scope="col">Purpose</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for exp in exps %}
                <tr>
                    <td scope="row" data-label="No">{{forloop.counter}}</td>
                    <td data-label="Date/Time">{{exp.date}}</td>
                    <td data-label="Category">{{exp.category}}</td>
                    <td data-label="Purpose">{{exp.purpose}}</td>
                    <td data-label="Amount">{{exp.amount}}</td>
                    <td data-label="Actions">
                        <a href="{% url 'edit'  exp.title exp.id %}" class="btn btn-info btn-sm">Edit</a>
                        <a href="{% url 'delete' exp.title exp.id %}" class="btn btn-warning btn-sm del_button">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="4 " style="text-align: center;font-size:large;font-weight:bold;">Total Expenses </td>
                    {% if val == 'amount' %}
                    <td style="font-weight: bold;text-align:center;">{{total_exps}} {%else%}
                        <td style="font-weight: bold;text-align:center">{{total_exps.amount__sum}} {% endif %}
                        </td>
                        <td></td>
                </tr>

            </tbody>
        </table>
        <div style="margin: 10px;">
            <a class="btn btn-info" href="{% url 'pdf' title_name %}">Create Pdf</a>
            <a style="float: right;" class="btn btn-warning" href="{% url 'inactive' title_name %}">Close</a>
        </div>
         {% else %} {% if message %} {{message}} {% else %}
        <p>Na value</p>
        {% endif %} {% endif %}
    </div>
    {% else %}
    <p class="text-center" style="color: red;">No Expenses Data</p>
    {% endif %}

</div>

{% else %}

<div class="container">
    {% if all_expenses_title %}
    <h3 class="text-center">Expenses data are here
        <hr>
    </h3>

    <div class="row">
        {% for expenses_title in all_expenses_title %}
        <div class="col">
            <div class="container py-4">
                <div class="card-deck-wrapper">
                    <div class="card-deck">
                        <div class="card p-2">
                            <a class="card-block stretched-link text-decoration-none" href="{% url 'data' expenses_title.title %}">
                                <h4 class="card-title" style="text-align: center;">{{expenses_title.title}}</h4>
                                <hr>
                                <p class="card-text" style="text-align: center;">Show {{expenses_title.title}} expenses.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- <div class="col">
                    <div class="container py-4">
                        <div class="card-deck-wrapper">
                            <div class="card-deck ">
                                <div class="card p-2">
                                    <a class="card-block stretched-link text-decoration-none" href="">
                                        <h4 class="card-title" style="text-align: center;">+</h4>
                                        <hr>
                                        <p class="card-text" style="text-align: center;">Add New Syllabus</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
    </div>

    {% else %}
    <p class="text-center" style="color: red;margin-top:60px;">No Expenes here</p>
    {% endif %}
</div>

{% endif %} {% endblock %} {% block js_script %}
<script>
    const searchField = document.querySelector("#searchField");
    const tableOutput = document.querySelector(".table-output");
    const appTable = document.querySelector(".app-table");
    const tbody = document.querySelector(".table-body");
    tableOutput.style.display = 'None ';
    searchField.addEventListener('keyup', (e) => {
        const searchValue = e.target.value;
        if (searchValue.trim().length > 0) {
            console.log("searchValue", searchValue);
            tbody.innerHTML = "";
            fetch("", {
                    body: JSON.
                    stringify({
                        searchText: searchValue
                    }),
                    method: "POST",
                })
                .then((res) => res.json())
                .then((data) => {
                    console.log("data", data);
                    appTable.style.display = "none"
                    tableOutput.style.display = "block";

                    if (data.length === 0) {
                        tableOutput.style.display = 'none';
                        appTable.style.display = 'block';
                        appTable.innerHTML = 'No result found'

                    } else {
                        data.forEach((item) => {
                            tbody.innerHTML += `
                            <tr>
                                <td>${item.date}</td>
                                <td>${item.category}</td>
                                <td>${item.purpose}</td>
                                <td>${item.amount}</td>
                                <td><a class="btn btn-primary" href="user_details/${item.id}">Details</a>
                                </td>
                            </tr> `
                        });
                    }
                });
        } else {
            appTable.style.display = "block";
            tableOutput.style.display = "none";
        }
    });
</script>
{%endblock%}