{% extends 'base.html' %}{% load crispy_forms_tags %} {% block title %}Edit{% endblock %} {% block content %}
<div class="container">
    <div id="edit-form">
    <div>
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">
            <button type="button" class="close" data-dismiss="alert">X</button> {{message}}
        </div>
        {% endfor %} {% endif %}
    </div>
    <div >
        <h3 class="text-center" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Edit Expenses<hr></h3>
        <div>
        <form action="" method="POST">
            {% csrf_token %}
            <!-- <table> {% for field in form %}

            <tr>
                <th class="label">{{field.label_tag}}</th>
                <td class="inp">{{field}}</td>
            </tr>
            {% endfor %}
        </table>
 -->
            {{form|crispy}}
            <div id="edit-btn">
                <input class="btn btn-primary" type="submit" name="" value="Save">
                <a style="margin-left: 10px;" class="btn btn-secondary" href="{% url 'data' title_name %}">Cansel</a>
            </div>
        </form>
    </div>
    </div>
</div>
</div>
{% endblock %}