{% extends 'base.html' %} {% block title %}Edit{% endblock %}{% block content %}
<div id="edit-form">
    <form action="" method="POST">
        {% csrf_token %}
        <table> {% for field in form %}

            <tr>
                <th class="label">{{field.label_tag}}</th>
                <td class="inp">{{field}}</td>
            </tr>
            {% endfor %}
        </table>

        <div id="edit-btn">
            <input class="btn btn-primary" type="submit" name="" value="Save">
            <a style="margin-left: 10px;" class="btn btn-secondary" href="{% url 'data' %}">Cansel</a>
        </div>
    </form>
</div>
{% endblock %}