{% extends 'base.html' %}{% block title %}Add{% endblock %}{% block content %}
<div class="container">
    <form method="POST" class="form-group">
        {% csrf_token %}
        <table>
            {% for field in exp_form %}
            <tr>
                <th>{{field.label_tag}}</th>
                <td>
                    {{ field.errors }} {{ field }}{% if forloop.counter == 1 %}
                    <a href="{% url 'category' %}"><i class="fas fa-plus"></i></a>{% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <form action="" method="POST">
            {% csrf_token %} {{category}} {% if error %}
            <p class="text-danger">{{error}}</p>
            {% endif %}
            <input type="submit" name="" id="" value="Submit">
        </form>
    </form>
</div>


{% endblock %}