{% extends 'base.html' %}{% block title %}Add{% endblock %}{% block content %}

<div id="add-data">
    <form method="POST">
        {% csrf_token %}
        <table>
            {% for field in exp_form %}
            <tr>
                <th class="label">{{field.label_tag}}</th>
                <td>
                    {{ field.errors }} {{ field }}{% if forloop.counter == 1 %}
                    <a title="Add new category" href="{% url 'category' %}"><i id="catg-add"  class="fas fa-plus"></i></a>{% endif %}
                </td>
            </tr> {% endfor %}
        </table>
        <input id="add-subm" class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
{% endblock %}