{% extends 'base.html' %} {% load static %} {% block title %}Home{% endblock %} {% block style %}
<style>
    body {
        background-image: url("{% static 'images/background.png' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
{% endblock %}
 {% block content %}
 <div class="container">
<div>
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">
        <button type="button" class="close" data-dismiss="alert">X</button> {{message}}
    </div>
    {% endfor %} {% endif %}
</div>
</div>
{% endblock %}