{% extends 'base.html' %}{% load crispy_forms_tags %} {% block title %}Registration{% endblock%}{% block style %}
<style>

</style>

{% endblock %}{% block content %}

<div class="row" id="reg-form">
    <div class="col"></div>
    <div class="col-mid-auto">
        <h1 id="reg-header">Registration</h1>
        <div>{% if messages %}
            <ul class="messages">{% for message in messages %}
                <li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li> {% endfor %}

            </ul>
            {% endif %}
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    {{user_form.first_name|as_crispy_field}}
                </div>
                <div class="col-6">
                    {{user_form.last_name|as_crispy_field}}
                </div>
            </div>

            {{user_form.username|as_crispy_field}} {{user_form.email|as_crispy_field}} {{user_form.password1|as_crispy_field}}{{user_form.password2|as_crispy_field}}
            <button id="reg-subm" type="submit" class="btn btn-success">Submit</button>
        </form>
        <p id="reg-log">Already have an account? <a href="{% url 'login' %}">Login here</a></p>

    </div>
    <div class="col"></div>
</div>



{% endblock %}